################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WoLApp/bin/Debug/net5.0
/WoLApp/obj
/WoLApp/Properties/launchSettings.json

